# Python Built-In Type Methods

As we discussed in the lecture, all Python objects are **Objects**, which means they have **Properties/Attributes** (data) and **Methods** associated with them.  These are accessible via the **Dot Notation**. 

For example, here we use a **string** **Class**'s *title()* method:

In [4]:
film = 'the lion king'
bigfilm = film.title()
bigfilm

'The Lion King'

## Quick Exercises

### Strings

Strings represent text data.  They can be appended with the **\*** and **\+** operators, and they contain many useful methods for modifying and formatting them:

In [15]:
print([method for method in dir(str) if not '_' in method])

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### Changing Strings

Use the **strip**, **swapcase**, **title**, **lower**, **upper**, and **zfill** methods, or the **\+** or **\*** operators, to perform the following modifications:

**I am angry** -> **I AM ANGRY**

In [2]:
quote = 'I am angry'
quote.upper()

'I AM ANGRY'

In [4]:
'I am angry'.upper()

'I AM ANGRY'

**the lion king** -> **The Lion King**

In [6]:
film = 'the lion king'
film.title()

'The Lion King'

**three** -> **threethreethree**

In [8]:
'three' * 3

'threethreethree'

In [9]:
2 * 3

6

**He said, "Are you okay?"** -> **hE SAID, "aRE YOU OKAY?"**

In [12]:
output = 'Are you okay?'.swapcase()
output

'aRE YOU OKAY?'

### Searching Substrings

Use the **replace**, **count**, and **index** methods to search for a substring and answer the following questions using the example sentence below:

```python
sentence = "The dog ate my watermelon when we were digging at the beach!"
```

In [13]:
sentence = "The dog ate my watermelon when we were digging at the beach!"

How many "w" characters are in this sentence?

In [19]:
sentence.count("w")

4

In [15]:
sentence.count?

What character index does the word "watermelon" start on? (the first? The tenth?)

In [18]:
sentence.index("The")

0

Replace the word "dog" in the sentence with the word "cat"

In [21]:
sentence.replace('dog', 'cat')

'The cat ate my watermelon when we were digging at the beach!'

### Formatting Strings

The most common method used for strings is the **format()** methods, so it deserves special mention.  It is used to insert data into a string.  It is similar to the **replace()** method but only replaces curly braces **{}**, but it is *way* more powerful.  In fact, there is a whole web page dedicated to showing all the ways you can use it: https://pyformat.info/

```python
label_fmt = "Sample {}: Vial {}"
label_fmt.format(3, 4)
>> "Sample 3: Vial 4"
```

Using the **format()** method, make the following three sentences:

**I bought 3 dogs.**

**Wendy bought 5 dogs.**

**George bought 700 dogs.**

In [34]:
fmt_str = '{} bought {} dogs'
fmt_str.format('Wendy', 1000)

'Wendy bought 1000 dogs'

In [31]:
'Wendy' + ' bought ' + str(1000) + ' dogs'

'Wendy bought 1000 dogs'

In [32]:
'Wendy' + ' bought ' + '1000' + ' dogs'

'Wendy bought 1000 dogs'

In [39]:
fmt_str = '{name} bought {num} dogs'
fmt_str.format(num=-2, name='Nick')

'Nick bought -2 dogs'

## Lists

Lists represent sequences of data.  They are made with either the square brackets **[]** or the **list()** constructor function.  They can be appended to, just like strings, but they can contain any kind of data--numbers, strings, even other lists.  Their methods mostly revolve around inserting and removing things:

In [38]:
print([method for method in dir(list) if not '_' in method])

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [40]:
words = ['This', 'is', 'a', 'list', 'of', 'words']
words

['This', 'is', 'a', 'list', 'of', 'words']

In [41]:
len(words)

6

Make a list of 3 movie titles.

In [45]:
films = ['Alien', 'Predator', 'Alien vs. Predator']
len(films)

3

Change the following sentence into a list.  What happens?

In [47]:
sentence = "Hello, World!"
list(sentence)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [49]:
chars = ['a', 'b', 'c']
str(chars)

"['a', 'b', 'c']"

In [52]:
''.join(chars)

'abc'

You have a list of subjects, and you want to add another one!  How could you do it?

In [77]:
subjects = ['NOP234', 'GHS673', 'JGL212']
new_subject = 'ASF193'

In [78]:
subjects.append(new_subject)

In [79]:
subjects

['NOP234', 'GHS673', 'JGL212', 'ASF193']

### Lots at once!

Now, a bunch of new subjects appeared!  How do you add them to the main list?

In [81]:
subjects = ['NOP234', 'GHS673', 'JGL212']
new_subjects = ['ASF193', 'THW994', 'JJZ231']
subjects.append(new_subjects)
subjects

['NOP234', 'GHS673', 'JGL212', ['ASF193', 'THW994', 'JJZ231']]

In [82]:
subjects = ['NOP234', 'GHS673', 'JGL212']
new_subjects = ['ASF193', 'THW994', 'JJZ231']
subjects.extend(new_subjects)
subjects

['NOP234', 'GHS673', 'JGL212', 'ASF193', 'THW994', 'JJZ231']

In [91]:
subjects = ['NOP234', 'GHS673', 'JGL212']
new_subjects = ['ASF193', 'THW994', 'JJZ231']
all_subjects = new_subjects.extend(subjects)
type(all_subjects)

NoneType

In [84]:
subjects = ['NOP234', 'GHS673', 'JGL212']
new_subjects = ['ASF193', 'THW994', 'JJZ231']
all_subjects = subjects + new_subjects
all_subjects

['NOP234', 'GHS673', 'JGL212', 'ASF193', 'THW994', 'JJZ231']

### Nice and Neat

Please put those subjects in alphabetical order.  It looks better that way, doesn't it?

In [93]:
subjects = ['NOP234', 'GHS673', 'jGL212', 'ASF193', 'THW994', 'JJZ231']
subjects.sort()

In [94]:
subjects

['ASF193', 'GHS673', 'JJZ231', 'NOP234', 'THW994', 'jGL212']

### The Bad Subject

Oh, no, 'JGL202' was a terrible subject, he intentionally ruined your study.  Well, there's no way you're keeping him.  How do you remove him from the list?

In [96]:
subjects = ['NOP234', 'GHS673', 'JGL212', 'ASF193', 'THW994', 'JJZ231']
subjects.remove('JGL212')
subjects

['NOP234', 'GHS673', 'ASF193', 'THW994', 'JJZ231']

## More Exercises

### The Variable Subject

You want to label your figure title with the subject code, and the subject code changes depending on which subject is being shown!  How could you stick a subject's name in your title string?

In [97]:
subject = 'NOP234'
title = "Mean Values of SUBJECT NAME's data over Time"

In [98]:
title.replace('SUBJECT NAME', subject)

"Mean Values of NOP234's data over Time"

If you had formatted your title string in the following way, though, another string method would be more useful.  Which method would you use for this title:

In [99]:
subject1 = 'NOP234'
subject2 = 'GHS673'
title = "Performance Comparison between Subjects {} and {}"

In [100]:
title.format(subject1, subject2)

'Performance Comparison between Subjects NOP234 and GHS673'

### The Limited Abstract

The conference says it only takes abstracts that have a maximum word count of 100 words.  Did our abstract make the cut?  

**hint: the len() function is useful here**

In [103]:
abstract = """We analyze the locomotor behavior of the rat during exploration, and show that digitally collected data (time series of positions) provide a sufftcient basis for establishing that the rat uses several distinct modes of motion (first, second, third, and sometimes fourth gear). The distinction between these modes is obtained by first segmenting the time series into sequences of data points occurring between arrests (as ascertained within the resolution of the data acquisition system). The statistical distribution of the maximal amount of motion occurring within each of these episodes is then analyzed and shown to be multi modal. This enables us to decompose motion into distinct modes."""
len(abstract.split(' '))

106

In [104]:
abstract.count(' ') + 1

106

In [105]:
'CNDJWQUEOJNDADNCZADHGLKDANMFEWJQEQEWROJDAOJFADNNAFDAJFDJAWUQEYTDJFADNDF'.split('K')

['CNDJWQUEOJNDADNCZADHGL', 'DANMFEWJQEQEWROJDAOJFADNNAFDAJFDJAWUQEYTDJFADNDF']

Oh, wait, now that I look closer, it actually says that it's a maximum of 100 **unique** words--duplicated words don't count.  How many unique words do we have in our abstract?  (What a strange conference...)


**Hint**: Try this out with the **set()** class.

In [106]:
set(abstract.split(' '))

{'(as',
 '(first,',
 '(time',
 'The',
 'This',
 'We',
 'a',
 'acquisition',
 'amount',
 'analyze',
 'analyzed',
 'and',
 'arrests',
 'ascertained',
 'basis',
 'be',
 'behavior',
 'between',
 'by',
 'collected',
 'data',
 'decompose',
 'digitally',
 'distinct',
 'distinction',
 'distribution',
 'during',
 'each',
 'enables',
 'episodes',
 'establishing',
 'exploration,',
 'first',
 'for',
 'fourth',
 'gear).',
 'into',
 'is',
 'locomotor',
 'maximal',
 'modal.',
 'modes',
 'modes.',
 'motion',
 'multi',
 'obtained',
 'occurring',
 'of',
 'points',
 'positions)',
 'provide',
 'rat',
 'resolution',
 'second,',
 'segmenting',
 'sequences',
 'series',
 'several',
 'show',
 'shown',
 'sometimes',
 'statistical',
 'sufftcient',
 'system).',
 'that',
 'the',
 'then',
 'these',
 'third,',
 'time',
 'to',
 'us',
 'uses',
 'within'}